body{
	min-width:450px;
	display: flex;
	flex-direction: column;
	background-color: #C7CCC6;
}
header{
	text-align: center;
	height:100px;
}
header button{
	display: block;
	float: left;
	margin-top:-20px;
	padding:10px;
	background-color: #C7CCC6;
	border-radius: 10px;
}
footer{
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
	background-color: #7F8070;
	text-align: center;
	height:40px;
}
section{
	min-height: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:30px;
	scroll-behavior: smooth;
}
section#indexSec .synopsis{
	border:1px solid black;
	border-radius: 5px;
	height:auto;
	padding:1em;
	margin:1em;
	max-width:175px;
	text-align: center;
}
section#indexSec .gallery{
	border:1px solid black;
	border-radius: 5px;
	min-height:300px;
	padding:1em;
	margin:1em;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.gallery a{
	text-align: center;
	padding:15px;
	width:91%;
	margin:0px;
	margin-bottom: 10px;
}
#mpLink{
	padding:0px;
	margin:0px;
	border:none;
	background: none;
}
.gallery img{
	border-radius: 5px;
	margin-bottom: 5px;
}
section a{
	color:black;
	border:2px solid #5F6D60;
	background-color: #77AD9F;
	border-radius: 3px;
	padding:3px;
	margin:2px;
	text-decoration: none;
}
section a:hover{
	border:2px dotted #5F6D60;
}
header .nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width:80%;
	margin-right:auto;
	margin-left:auto;
}
hr{
	margin-top:0px;
	margin-bottom: 0px;
	width:90%;
}
.nav a{
	min-width: 75px;
	text-decoration: none;
	border:none;
	border-right:1px solid grey;
	border-left:1px solid grey;
	padding:5px;
	margin:0px;
	padding-left:10%;
	padding-right:10%;
	color:#5F6D60;
}
.nav a:hover{
	background-color: #a9aa99;
}
#plantCount{
	width:200px;
	border:1px solid black;
	border-radius: 6px;
	padding:5px;
	margin:2px;
	margin-bottom:10px;
}
#plantCount h5{
	text-align: center;
	text-decoration: underline;
}
#plantCount h1{
	font-size: 80px;
	padding:0px;
	margin:0px;
	text-align: center;
}

/* Gallery */
#gallery{
	margin-top:30px;
	width:80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
#gallery img{
	height:200px;
	width:auto;
	transition: .5s ease;
	backface-visibility: hidden;
}
#gallery a{
	margin:5px;
}
.galContainer {
	position: relative;
}
.galMiddle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.galContainer:hover .galleryImg {
	opacity: 0.3;
}
.galContainer:hover .galMiddle {
	opacity: 1;
}
.galMiddle h3 {
	text-align: center;
	background-color: #77AD9F;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

/* About */
#about, #usefulLinks, #helpUsOut{
	border:1px solid black;
	border-radius: 5px;
	margin:10px;
	padding:10px;
	margin-bottom:5px;
}
#helpUsOut a{
	border:none;
	background: none;
	text-decoration: underline;
}
#helpUsOut a:hover{
	text-decoration-color: #463D2E;
	color:#5F6D60;
}
#about{
	max-width:500px;
}
#usefulLinks h3{
	text-align: center;
	margin:5px;
}
big{
	font-size: 30px;
}
/* Young plants on gallery */
.mySlides {
	display: none;
}
/* Fading animation */
.fade {
	-webkit-animation: fade 3s;
	animation: fade 3s;
}
@keyframes fade {
	/* https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
	0%{opacity: 0;}
	25%, 75%{opacity: 1;}
	100%{opacity: 0;}
}

/* Plant Pages */
.plantSection{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-width: 110px;
}
#sideGallery{
	width:870px;
	min-width:450px;
	height:auto;
	max-height:530px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right:5px;
	overflow-y: scroll;
	align-self: flex-start;
}
#plantDescription{
	width:500px;
	height:auto;
	align-self: flex-start;
}
#plantDescription h3{
	text-align: center;
}
#sideGallery, #plantDescription{
	border:2px solid #463D2E;
	border-radius: 4px;
	padding:5px;
}
#sideGallery img{
	width:400px;
	height:auto;
	margin:1px;
}
@media screen and (max-width: 1400px) {
	#sideGallery img{
		width:99%;
		height:auto;
		margin:3px;
	}
}
#sideGallery a{
	background:none;
	border:none;
}
#plantDetails li{
	padding:5px;
}
#navBttns{
	display:block;
	float: right;
	margin-top:15px;
}
#navBttns button{
	height:100px;
	width:100px;
	margin-right: 5px;
	font-size:70px;
}
.sideList{
	margin-left:-15px;
}
.sideList li{
	margin-top:5px;
}

/* Blog Page */
section#blogSec{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	scroll-behavior: smooth;
}
div#blog{
	border:1px solid black;
	border-radius: 5px;
	width:75%;
	min-height:700px;
	margin:2px;
}
div#aside{
	border:1px solid black;
	border-radius: 10px;
	width:300px;
	min-height:400px;
	align-self:flex-start;
	margin:2px;
}
#aside h3{
	text-align: center;
}
@media screen and (max-width: 800px) {
    section#blogSec {
        flex-direction: column-reverse;
    }
    div#aside{
	   	width:99%;
    }
    div#blog{
    	width:99%
    }
}
#blogList{
	list-style-type: disc;
}
#blogList li{
	padding:5px;
}
div#blog{
	background: #afb7ae;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: scroll;
	scroll-behavior: smooth;
	max-height: 600px;
}
.post .postHeader{
	text-align: center;
}
.posts, .plantUpdates, .newPlants{
	border:2px solid black;
	border-left: none;
	border-right:none;
	margin-bottom:10px;
}
#updateSection{
	max-width: 600px;
	margin-right: auto;
	margin-left:auto;
}
#newPlantsGallery{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding:10px;
	flex-wrap: wrap;
}
#newPlantsGallery .newPlantLink{
	height:200px;
	width:auto;
	border:5px groove #C7CCC6;
	border-radius: 3px;
}
#newPlantsGallery .newPlantImg{
	height:200px;
	width:auto;
	border:none;
}
#newPlantsGallery .newPlantLink:hover{
	border:5px ridge #006A64;
}